{% extends 'RECYCLE_UNIT.html' %}
{% block body %}
<center>

<I><h2 class="form-control">VIEW PROFILE</h2></I>
<form>

    <table class="table table bordered table table-hover" border="2">
        <tr>

            <th>NAME</th>
             <td>{{ data.unit_name }}</td>
        </tr>

            <tr>
            <th>PLACE</th>
            <td>{{ data.place }}</td>
            </tr>

            <tr>
            <th>POST</th>
             <td>{{ data.post }}</td>
            </tr>


        <tr>
            <th>PIN</th>
                <td>{{ data.pin }}</td>
            </tr>


        <tr>
            <th>DISTRICT</th>
                <td>{{ data.district }}</td>
            </tr>


        <tr>
            <th>PHONE NUMBER</th>
                <td>{{ data.phone_number }}</td>
            </tr>

                <tr>
            <th>EMAIL ID</th>
                <td>{{ data.email_id }}</td>
            </tr>

                <tr>
            <th>LOGIN ID</th>
                <td>{{ data.unit_name}}</td>
            </tr>

 </table>
</form>
</center>
{% endblock %}