<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Add </title>
</head>
<body>
<center>
    <h2></h2>

<form method="post" action="/myapp/editfeedbackp/">
       {%  csrf_token %}

    <table>
                <input type="hidden" value="{{ data.id }}" name="efeedback">

        <tr>
            <th>DATE</th>
            <td><input type="date" name="date" value="{{ data.date }}"></td>
        </tr>

        <tr>
            <th>FEEDBACK</th>
            <td><input type="text" name="feedback" value="{{ data.feedback }}"></td>
        </tr>

 <tr>
            <th>USER ID</th>
            <td>
            <select name="userid">

                {% for i in data2 %}

                <option value="{{ i.id }}">{{ i.name }}</option>
                    </select>

                {% endfor %}

     </tr>



        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>

    </table>
</form>
     </center>
</body>

</html>
