{% extends 'USER.html' %}
{% block body %}
<center>

<I><h2 class="form-control">VIEW WORKER CATEGORY</h2></I>
<form>


    <table class="table table bordered table table-hover" border="2">
            <tr>
                <th>Serial Number</th>
                <th>CATEGORY NAME</th>
                <th>WORKER LID</th>

            </tr>

            {% for i in data %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.category_name }}</td>
              <td>{{ i.WORKER.name }}</td>


            </tr>

            {% endfor %}


        </table>
</form>
{% endblock %}