{% extends 'ADMIN.html' %}
{% block body %}
<center>

<I><h2 class="form-control">CHANGE PASSWORD</h2></I>
<form method="post" action="/myapp/acp/" enctype="multipart/form-data">
    {% csrf_token %}


    <table border="3" class="table table-bordered table table-hover">
        <tr>
            <td>Old Password</td>
            <td><input type="text" name="p1" class="form-control"></td>
        </tr>

        <tr>
            <td>New Password</td>
            <td><input type="text" name="p2"class="form-control"></td>
        </tr>

        <tr>
            <td>Confirm Password</td>
            <td><input type="text" name="p3"class="form-control"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" name="btn" class="btn btn-success"></td>        </tr>
    </table>
</form>

{% endblock %}