{% extends 'ADMIN.html' %}
{% block body %}
<center>

   <I><h2 class="form-control">VIEW FEEDBACK</h2></I>

<form action="/myapp/svfeedback/" method="post">
{% csrf_token %}


 <h6>FROM</h6><input type="date" name="search1" class="btn btn-dark" >
<h6>TO</h6>

 <input type="date" name="search2"  class="btn btn-dark"><br><br>

    <input type="submit" value="go" class="btn btn-danger">


    <table class="table table bordered table table-hover" border="2">
            <tr>
                <th>SERIAL NUMBER</th>
                 <th>DATE</th>
                <th>FEEDBACK</th>
                 <th>USER LID</th>

            </tr>

            {% for i in data %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.date }}</td>
                 <td>{{ i.feedback }}</td>
                <td>{{ i.USER.name }}</td>


            </tr>

            {% endfor %}


        </table>

</form>
</center>
{% endblock %}
