{% extends 'ADMIN.html' %}
{% block body %}
<center>

   <I><h2 class="form-control">VIEW USERS</h2></I>
<form method="post" action="/myapp/svusers">
{% csrf_token %}

{# <h6>FROM</h6><input type="date" name="search1" class="btn btn-dark" >#}
{#<h6>TO</h6>#}
{##}
{# <input type="date" name="search2"  class="btn btn-dark"><br><br>#}
{##}
{#    <input type="submit" value="go" class="btn btn-danger">#}


    <table class="table table bordered table table-hover" border="2">
            <tr>
                <th>Serial Number</th>
                <th> NAME</th>
                <th> PHONE NUMBER</th>
                <th> EMAIL</th>
                <th> PLACE</th>
                <th> POST</th>
                <th> PIN</th>
                <th> DISTRICT</th>

            </tr>

            {% for i in data %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.phone_number }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.place }}</td>
                <td>{{ i.post }}</td>
                <td>{{ i.pin }}</td>
                <td>{{ i.district }}</td>


{##}
{#                <td><a href="/myapp/edituser/{{ i.id }}"><input type="button" value="Edit" class="btn btn-success"></a> </td>#}
{#                <td><a href="/myapp/deleteuser/{{ i.id }}"><input type="button" value="Delete" class="btn btn-success"></a>  </td>#}
            </tr>

            {% endfor %}


        </table>

</form>
</center>
{% endblock %}